.shop {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .shop h3 {
    margin: 0 0 0.25rem 0;
  }

 .shop img{
     width: 10rem;
     height: 7rem;  
     cursor: pointer;   
 }
 
 .item{    
     display: flex;
     justify-content: center;
 }
 .detail{
   padding-left: 2rem;
 }
  .description {
    font-style: italic;
    
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #FD4D5A;
    font-size: 1.25rem;
  }